.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
* {
  -webkit-backface-visibility: 'hidden';
  -moz-backface-visibility: 'hidden';
  backface-visibility: 'hidden';
}
body {
  background-color: #f0f0f0;
  font-family: "museo-sans", 'Lato', 'Helvetica Neue', Helvetica, 'Apple SD Gothic Neo', 'Nanum Gothic', 'Malgun Gothic', Arial, sans-serif;
}
a {
  text-decoration: none;
}
::selection {
  background: #1ABC9C;
  /* Safari */

  color: #fff;
}
::-moz-selection {
  background: #1ABC9C;
  /* Firefox */

  color: #fff;
}
img.typekit-badge {
  display: none !important;
}
div[role=content] {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-top: 40px;
  padding: 40px;
}
#popup {
  width: 700px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -250px;
  z-index: 1001;
}
#popup .demo-headline {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 73px 0 0 0;
}
#popup .demo-headline h1 {
  margin: 50px 0;
}
#popup div.detail button {
  font-size: 9pt;
  background-color: #587ca0;
}
#popup form {
  border-top: solid #f0f0f0 1px;
  padding: 35px 0 30px 0;
  background-color: #34495E;
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
}
#popup form input[type=text] {
  line-height: 55px;
  font-size: 20px;
  padding: 21px 17px;
  text-transform: uppercase;
  font-family: "museo-sans", 'Lato', 'Helvetica Neue', Helvetica, 'Apple SD Gothic Neo', 'Nanum Gothic', 'Malgun Gothic', Arial, sans-serif;
}
#popup form button {
  padding: 21px 17px;
}
#detail-body p {
  line-height: 18pt;
}
#covers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: #333;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
  overflow: hidden;
}
#covers img {
  width: 10%;
  opacity: 0;
  -webkit-transition: all 1000ms;
  -moz-transition: all 1000ms;
  -o-transition: all 1000ms;
  transition: all 1000ms;
}
#shadowbox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  -webkit-box-shadow: inset 0px 0px 60px 0px #000000;
  -moz-box-shadow: inset 0px 0px 60px 0px #000000;
  box-shadow: inset 0px 0px 60px 0px #000000;
}
footer {
  position: absolute;
  min-width: 100px;
  min-height: 80px;
  width: 8%;
  opacity: 0.5;
  top: auto;
  right: 0px;
  bottom: 0px;
  font-size: 10px;
  background-color: #000;
  color: #fff;
  z-index: 1100;
  padding: 2% 1% 1% 1%;
  text-align: justify;
  text-align: center;
}
footer a {
  color: #fff;
}
.typo-capital {
  font-family: "museo-sans", 'Lato', 'Helvetica Neue', Helvetica, 'Apple SD Gothic Neo', 'Nanum Gothic', 'Malgun Gothic', Arial, sans-serif;
}
.typo-number {
  font-family: "bebas-neue", "museo-sans", 'Lato', 'Helvetica Neue', Helvetica, 'Apple SD Gothic Neo', 'Nanum Gothic', 'Malgun Gothic', Arial, sans-serif;
}
